[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/matplotlib_cpp"]
	path = thirdparty/matplotlib_cpp
	url = https://github.com/lava/matplotlib-cpp.git
